PORT=5000
MONGO_URI=mongodb+srv://mrigankabhishek95_db_user:Dl7ch@5965@cluster0.eesfsl0.mongodb.net/?appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key_here
GITHUB_CLIENT_ID=Ov23liVBbciiLqTB2u4m
GITHUB_CLIENT_SECRET=0bfb853a533b38dda594e6746a2c1ccf33c17442
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:5000
CLOUDINARY_CLOUD_NAME=dfy1copef
CLOUDINARY_API_KEY=758644437479138
CLOUDINARY_API_SECRET=g7RUj5R2j2Qtcmrgx1X9Xr7zRkA
